{{define "page"}}
<h1 class="">About Us</h1>
<div class="flex items-center">
    <img src="/assets/NerdHelpITLogo.png" width="64" hight="64"/>
    <div>
        <span>some text here about the person in the image</span>
    </div>
</div>
<p>Been in business since 2018. We offer, Web Development and IT services. NerdHelpIT is certified in
Python programming, enterprise level networking, and cybersecurity.</p>
{{end}}