{{define "page"}}
<h1>Contact Page</h1>
<span>Email us at <a href="mailto:jblalock@nerdhelpit.com">jblalock@nerdhelpit.com</a>.</span>
<br>
<span>Call us at <a href="tel:19037205599">9037205599</a>.</span>
{{end}}