<!doctype html>
<html class="min-w-fit">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/assets/NerdHelpITLogo.ico">
        <link href="/assets/styles.css" rel="stylesheet">
        <script src="/assets/htmx.min.js"></script>
    </head>
        <header id="header" class="relative lg:sticky min-w-fit left-0 right-0 top-0 z-20 ">
            <nav class= " px-4 md:px-8 md:h-fit h-20 py-2 flex items-center md:flex-grow md:flex-row justify-between md:justify-evenly border-indigo-500 border-b-4 top-0 left-0 right-0 bg-gradient-to-r to-20% to-neon-blue from-indigo-400 text-white">
                <div class="flex text-4xl pr-8">
                    <a class="flex flex-row items-center" href="/">
                        <img class="flex-auto align-middle" src="/assets/NerdHelpITLogo.png" width="64px" hight="64px">
                        <span class="hidden sm:block flex-auto p-1 align-baseline text-penn-blue font-semibold font-serif">NerdHelpIT</span>
                    </a>
                </div>
                <div class="hover:cursor-pointer md:hidden group/stack" hx-trigger="click" hx-swap="outerHTML" hx-target="#header" hx-get="/nav">
                    <div class="my-1 group-hover/stack:bg-white bg-stone-200 rounded-full w-6 h-1">
                    </div>
                    <div class=" group-hover/stack:bg-white bg-stone-200 rounded-full w-6 h-1">
                    </div>
                    <div class="my-1 group-hover/stack:bg-white bg-stone-200 rounded-full w-6 h-1">
                    </div>
                </div>
                <div class="hidden md:flex md:flex-grow min-w-fit text-white align-middle justify-evenly text-center w-20">
                    <a class="text-lg text-inherit font-semibold" href="/">
                        <div class="hover:cursor-pointer mb-2">
                            Home
                        </div>
                    </a>                    
                    <a class="md:flex text-lg text-inherit font-semibold" href="/about">
                        <div class="hover:cursor-pointer mb-2">
                            About
                        </div>
                    </a>                    
                    <a class="md:flex text-lg text-inherit font-semibold" href="/contact">
                        <div class="hover:cursor-pointer mb-2">
                            Contact
                        </div>
                    </a>
                    <a class="md:flex text-lg text-inherit font-semibold" href="/gallery">
                        <div class="hover:cursor-pointer mb-2">
                            Website Gallery
                        </div>
                    </a>
                    
                </div>
            </nav>
            <div class="hidden md:hidden flex-grow min-w-fit text-white align-middle text-center">
                <a class="text-lg text-inherit font-semibold target:text-madder" href="/">
                    <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                        Home
                    </div>
                </a>                    
                <a class="text-lg text-inherit font-semibold" href="/about">
                    <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                        About
                    </div>
                </a>                    
                <a class="text-lg text-inherit font-semibold" href="/contact">
                    <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                        Contact
                    </div>
                </a>
                <a class="text-lg text-inherit font-semibold" href="/gallery">
                    <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                        Website Gallery
                    </div>
                </a> 
            </div>
        </header>
    <body class="min-h-screen ">
        
        <div class="min-h-screen py-4 bg-cover bg-no-repeat bg-center" style="background-image: url('/assets/Glasses_Laptop.png');">
        
        <!-- page content -->
            <div class="min-w-fit">
                <h1 class="w-full py-2.5 drop-shadow-md md:z-0 z-10 text-4xl text-stone-900 font-bold text-center font-serif">NerdHelpIT</h1>
                <h3 class=" w-full text-stone-900 md:z-0 z-10 text-center drop-shadow-sm">Web Development &amp; IT Services</h3>
                <div class="w-full sm:mt-8 text-white text-center text-bold  rounded-full  py-1"><a class="bg-neon-blue px-14 border-2 border-indigo-600 drop-shadow-xl shadow-indigo-500 rounded-full" href="/contact">Get a Quote</a></div>
            </div>
        </div>
        <!-- page content stops -->
        <footer class="text-center relative bottom-0 right-0 left-0 pt-16 pb-4 leading-6 text-sm text-white bg-stone-800 px-8">
            <ul>
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/about">About</a></li>
                <li class=""><a href="/contact">Contact</a></li>
                <li class=""><a href="/gallery">Website Gallery</a></li>
            </ul>
            <span class="mt-4">Copyright &copy; NerdHelpIT. All rights reserved.</span>
        </footer>
        
    </body>
</html>

