{{define "page"}}
<div class="min-h-screen bg-cover py-6 bg-no-repeat bg-center" style="background-image: url('/assets/Glasses_Laptop.png');">
    <div class="min-w-fit w-full max-w-screen">
        <h1 class="py-2.5 drop-shadow-md md:z-0 z-10 text-4xl md:text-6xl text-stone-900 font-bold text-center font-serif">NerdHelpIT</h1>
        <h2 class=" text-stone-900 md:z-0 z-10 md:text-2xl text-center drop-shadow-sm">Web Development &amp; IT Services</h2>
    </div>
    <div class="flex justify-center mt-8  rounded-full  py-1"><a class="hover:scale-125 text-white text-center font-bold bg-stone-800 px-14 border-2 border-stone-800 border-t-stone-700 border-b-stone-900 drop-shadow-xl shadow-black rounded-full" href="/contact">Get a Quote</a></div>
</div>
{{end}}