<!-- un-used if using tailwind.gohtml -->
<html>
    <body>
        {{template "page" .}}
        <footer>
            <p>Copyright &copy; NerdHelpIT. All rights reserved</p>
        </footer>
    </body>
</html>