<!doctype html>
<html class="min-w-fit w-screen md:relative">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/assets/NerdHelpITLogo.ico">
        <link href="/assets/styles.css" rel="stylesheet">
        <script src="/assets/htmx.min.js"></script>
    </head>
        <header id="header" class="sticky min-w-fit left-0 right-0 top-0 z-10 ">
            <nav class= "px-4 md:px-8 md:h-fit h-20 py-2 flex items-center md:flex-grow md:flex-row justify-between md:justify-evenly rounded-s-full border-solid border-madder border-e-0 border-t-0 border-4 rounded-e-none top-0 left-0 right-0 bg-gradient-to-r from-20% from-neon-blue to-indigo-400 text-white">
                <div class="flex text-4xl pr-8">
                    <a class="flex flex-row items-center" href="/">
                        <img class="flex-auto align-middle" src="/assets/NerdHelpITLogo.png" width="64px" hight="64px">
                        <span class="flex-auto p-1 align-baseline text-penn-blue font-semibold font-serif">NerdHelpIT</span>
                    </a>
                </div>
                <div class="hover:cursor-pointer md:hidden group/stack" hx-trigger="click" hx-swap="outerHTML" hx-target="#header" hx-get="/nav">
                    <div class="my-1 group-hover/stack:bg-white bg-stone-200 rounded-full w-6 h-1">
                    </div>
                    <div class=" group-hover/stack:bg-white bg-stone-200 rounded-full w-6 h-1">
                    </div>
                    <div class="my-1 group-hover/stack:bg-white bg-stone-200 rounded-full w-6 h-1">
                    </div>
                </div>
                <div class="hidden md:flex md:flex-grow min-w-fit text-white align-middle justify-evenly text-center w-20">
                    <a class="text-lg text-inherit font-semibold target:text-madder" href="/">
                        <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                            Home
                        </div>
                    </a>                    
                    <a class="md:flex text-lg text-inherit font-semibold" href="/about">
                        <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                            About
                        </div>
                    </a>                    
                    <a class="md:flex text-lg text-inherit font-semibold" href="/contact">
                        <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                            Contact
                        </div>
                    </a>
                    <a class="md:flex text-lg text-inherit font-semibold" href="/gallery">
                        <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                            Gallery
                        </div>
                    </a>
                    
                </div>
            </nav>
            <div class="hidden md:hidden flex-grow min-w-fit text-white align-middle text-center">
                <a class="text-lg text-inherit font-semibold target:text-madder" href="/">
                    <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                        Home
                    </div>
                </a>                    
                <a class="text-lg text-inherit font-semibold" href="/about">
                    <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                        About
                    </div>
                </a>                    
                <a class="text-lg text-inherit font-semibold" href="/contact">
                    <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                        Contact
                    </div>
                </a>
                <a class="text-lg text-inherit font-semibold" href="/gallery">
                    <div class="hover:cursor-pointer mb-2 md:shadow-sm">
                        Gallery
                    </div>
                </a> 
            </div>
        </header>
    <body class="min-h-screen bg-gradient-to-b from-gray-200 to-gray-400">
        
        <div class="min-h-screen rounded-3xl my-6 mx-6">
        <!-- page content -->
        {{template "page" .}}
        </div>
        <footer class=" text-center leading-6 text-sm text-white bg-stone-800 px-8 py-6">
            <p>Copyright &copy; NerdHelpIT. All rights reserved.</p>
        </footer>
    </body>
</html>